{% extends "admin/change_form.html" %}

{% block form_top %}{% endblock %}

{% block after_field_sets %}
    <!--
    <div class="modal span10" id="new-twitter-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
        data-backdrop="static" data-keyboard="true" data-show="true"
        data-remote="https://dev.twitter.com/apps">
        <div class="modal-header alert alert-error">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#xD7; &nbsp;</button>
            <h3 id="myModalLabel">Create a Twitter App Keyset</h3>
            <p id="myModalParenthetical">New applications must be created manually through the Twitter dev site.</p>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
    -->

    <script type="text/javascript">
    /*
        (function($) {
            $(document).ready(function(e) {
                //var url = "http://dev.twitter.com/apps/";
                //$("#iframer").html('<iframe width="777" height="444" frameborder="0" scrolling="yes" allowtransparency="true" src="'+url+'"></iframe>');
                $('#new-twitter-app').modal('toggle');
            });
        })(jQuery);
    */
    </script>

{% endblock %}
