{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumb %}<div class="breadcrumb">
{% trans 'Home' %} &rsaquo;</div>{% endblock %}

{% block content %}
{% if app_list %}
	<ul class="app-list">
    {% for app in app_list %}
		<li class="module lead" title="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}"><a
		    href="{{ app.app_url }}" class="section lead" title="{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></li>
        {% for model in app.models %}
            <li class="model {% cycle odd,even %}">
				<span class="model-name"><b>
	            {% if model.admin_url %}
	                <!--
	                {% if model.verbose_name_plural %}{{ model.objects.all|length }} {{ model.verbose_name_plural }}{% else %}{% if model.verbose_name %}{{ model.verbose_name }}{% else %}{{ model.name }}{% endif %} ({{ model.objects.all|length }} total){% endif %}
	                -->
	                <a class="model-tooltip" href="{{ model.admin_url }}"
	                    rel="tooltip" data-placement="right"
	                    title="{{ model.name }} (-/- Total)">{{ model.name }}</a>
	            {% else %}
	                {{ model.name }}
	            {% endif %}
				</b></span>

				{% if model.add_url or model.admin_url %}
					<ul class="actions controls controls-row">
					{% if model.add_url %}
		                <li><a href="{{ model.add_url }}" class="btn btn-info span2"><i class="icon-plus icon-white"></i> {% trans 'Add' %}</a></li>
		            {% endif %}

		            {% if model.admin_url %}
		                <li><a href="{{ model.admin_url }}" class="btn btn-warning span2"><i class="icon-pencil icon-white"></i> {% trans 'Change' %}</a></li>
		            {% endif %}
					</ul>
				{% endif %}
            </li>
        {% endfor %}
    {% endfor %}
	</ul>
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
{% endblock %}

{% block sidebar %}
<div class="well" id="recent-actions-module">
	<ul class="nav nav-list">
		<li class="nav-header">{% trans 'My Actions' %}</li>
		{% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <li>{% trans 'None available' %}</li>
        {% else %}
        {% for entry in admin_log %}
        <li>
            {% if entry.is_deletion or not entry.get_admin_url %}
                <a><i class="icon-{% if entry.is_addition %}plus{% endif %}{% if entry.is_change %}pencil{% endif %}{% if entry.is_deletion %}trash{% endif %}"></i> {% if entry.content_type %}<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}:</span>{% else %}<span class="mini quiet">{% trans 'Unknown content' %}:</span>{% endif %} {{ entry.object_repr }}</a>
            {% else %}
                <a href="{{ entry.get_admin_url }}"><i class="icon-{% if entry.is_addition %}plus{% endif %}{% if entry.is_change %}pencil{% endif %}{% if entry.is_deletion %}trash{% endif %}"></i> {% if entry.content_type %}<span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}:</span>{% else %}<span class="mini quiet">{% trans 'Unknown content' %}:</span>{% endif %} {{ entry.object_repr }}</a>
            {% endif %}
        </li>
        {% endfor %}
        {% endif %}
	</ul>
</div>
{% endblock %}


{% block extrascripts %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function($) {
                $(".model-tooltip").tooltip();
            });
        })(jQuery);
    </script>
{% endblock extrascripts %}

